@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

.footer , #testimonials , #features-home {
    background-color: white !important;
    background-image: none !important; 
    /* Removes any background image */

    color: #000; 
    /* Optional: Set text color to black for contrast */
}

